<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GSC_ProjectEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ProjectEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
      <GSC_ProjectEditor.Properties.Settings>
        <setting name="dwEnabling" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Culture" serializeAs="String">
          <value>en</value>
        </setting>
        <setting name="ganfeldEditing" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="Ganfeld_SelectedGeolcode" serializeAs="String">
          <value/>
        </setting>
        <setting name="Annick" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="ParticipantID" serializeAs="String">
          <value>Empty</value>
        </setting>
        <setting name="Ganfeld_SelectedYear" serializeAs="String">
          <value>09/04/2014 13:19:45</value>
        </setting>
        <setting name="refreshGeolines" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="refreshGeopoints" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="refreshLabels" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="refreshMapUnits" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="SaveEditButton" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="RefreshButton" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="SourceID" serializeAs="String">
          <value>Empty</value>
        </setting>
        <setting name="KeepCustomSymbols" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="WorkingStartDate" serializeAs="String">
          <value>09/23/2015 10:03:00</value>
        </setting>
        <setting name="WorkingEndDate" serializeAs="String">
          <value>2020-04-01</value>
        </setting>
        <setting name="PROJECT_DATABASE_PATH" serializeAs="String">
          <value/>
        </setting>
        <setting name="PROJECT_DATABASE_NAME" serializeAs="String">
          <value/>
        </setting>
        <setting name="LANGUAGE" serializeAs="String">
          <value>en</value>
        </setting>
        <setting name="DEBUG" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="PROJECT_WORKSPACE_PATH" serializeAs="String">
          <value/>
        </setting>
        <setting name="refreshParticipant" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="refreshSource" serializeAs="String">
          <value>False</value>
        </setting>
      </GSC_ProjectEditor.Properties.Settings>
      <ProjectEditor.Properties.Settings>
            <setting name="dwEnabling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ganfeldEditing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ganfeld_SelectedGeolcode" serializeAs="String">
                <value/>
            </setting>
            <setting name="Annick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ParticipantID" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="Ganfeld_SelectedYear" serializeAs="String">
                <value>09/04/2014 13:19:45</value>
            </setting>
            <setting name="refreshGeolines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="refreshGeopoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="refreshLabels" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="refreshMapUnits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveEditButton" serializeAs="String">
                <value>False</value>
            </setting>
        </ProjectEditor.Properties.Settings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ESRI.ArcGIS.Desktop.AddIns" publicKeyToken="8FC3CC631E44AD86" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.2.0.0" newVersion="10.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
